.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;

  /* Customized */
  background-color: yellow;
  /* background-color: white; */
  /* border-bottom: 2px solid black; */
  /* padding: 50px; */
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

/* 
.navbar-container img {
  max-width: 23%;
  margin-left: 10px;
} */

.navbar-logo {
  /* color: black; */
  /* justify-content: start; */
  /* margin-left: 20px; */
  cursor: pointer;
  /* text-decoration: none; */
  /* font-size: 2rem; */
  display: flex;
  align-items: center;
}

.navbar-ASR-logo img {
  margin-left: 30px;
  margin-right: 15px;
  /* background-color: #fff; */
}

.navbar-BN-logo img {
  width: 80%;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;

  /* background-color: yellow; */
}

.nav-item {
  height: 80px;
}

.nav-menu-item {
  display: flex;
}

.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid black;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: black;
  /* position: fixed; */
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 960px) {
  .nav-items {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;

    /* Customized */
    background-color: yellow;
    overflow: hidden;
    position: fixed;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-menu-item {
    display: flex;

    /* customized */
    flex-direction: column;
    height: 100vh;
    top: 80px;
    width: 100%;
    position: relative;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    width: -webkit-fill-available;

    /* customized */
    color: white;
  }

  .nav-links:hover {
    background-color: yellow;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo img {
    position: absolute;
    top: -27px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .navbar-ASR-logo img {
    margin-left: 30px;
    margin-right: 15px;
  }

  .navbar-BN-logo img {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
  }
}
